<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

# <IfModule mod_rewrite.c>
# RewriteEngine On
# RewriteBase ./parts/
# RewriteRule ^index\.php$ – [L]
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteRule . /parts/index.php [L]
# </IfModule>

